.button {
	padding: 8px 20px;
	border-radius: 4px;
	color: var(--base-color);
	background-color: var(--accent-color, #7859cf);
	transition: all 200ms ease-in;
	cursor: pointer;
	box-sizing: border-box;
	border: none;
	font-size: 16px;
	line-height: 24px;

	&:hover {
		background-color: var(--focus-color);
		transition: all 200ms ease-in;
		color: var(--base-color);
	}

	&:active {
		background-color: var(--active-color);
		transition: all 200ms ease-in;
		color: var(--base-color);
	}

	&:disabled {
		background-color: var(--disabled-color);
		transition: all 200ms ease-in;
		color: var(--base-color);
	}

	&--reset {
		color: var(--accent-color);
		background-color: var(--base-color);
		font-size: 14px;
		line-height: 24px;
	}

	&--form {
		padding: 10.5px 5px;
		font-size: 13px;
		line-height: 24px;

		@media #{$not-mobile} {
			padding: 8px 3.5px;
		}
	}

	&--basket {
		display: flex;
		align-items: center;

		&::before {
			content: "";
			display: block;
			width: 20px;
			height: 16px;
			margin-right: 6px;
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.7 13.5H15v.2a2.7 2.7 0 0 1-2.6 2.3H3.6c-1.3 0-2.4-1-2.6-2.3L.2 8 0 6.7h4.6L4.3 4a3.7 3.7 0 0 1 7.3-1h-1.4a2.3 2.3 0 0 0-4.5.9l.2 2.8h3.6V8H6.1l.2 2.7h3.4v-.2h1.4v.2h1.4V12h-1.6l-.2 2.7h1.7c.6 0 1.2-.5 1.3-1.2ZM4.7 8H1.5l.4 2.7h3L4.7 8Zm2 6.7L6.3 12h3.2l-.2 2.7H6.6ZM5 12l.2 2.7H3.6c-.6 0-1.2-.5-1.3-1.2L2.1 12h3Zm10.7-2V7.2H13V5.8h2.8V3h1.4v2.8H20v1.4h-2.8V10h-1.4Z' fill='%23fff'/%3E%3C/svg%3E");
		}
	}
}
