.catalog-card {
	background-color: var(--base-color);
	display: flex;
	flex-direction: column;
	padding: 40px 20px 20px;
	transition: all 0.5s ease-out;
	border-radius: 4px;
	box-sizing: border-box;

	@media #{$not-mobile} {
		padding: 50px 30px 30px;
	}

	@media #{$desktop-only} {
		padding: 50px 30px 30px;
		min-width: 317px;
	}

	&:hover,
	&:focus {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
		transition: all 0.5s ease-out;
	}
}

.catalog-card__image {
	align-self: center;
	order: -1;
	margin-bottom: 24px;

	img {
		width: 130px;
		height: 188px;
	}
}

.catalog-card__title {
	margin: 0;
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 32px;

	a {
		text-decoration: none;
		color: inherit;
	}

	@media #{$not-mobile} {
		font-size: 24px;
		line-height: 1.5;
		margin-bottom: 0;
	}
}

.catalog-card__description {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 16px;
}

.catalog-card__order-container {
	display: flex;
	justify-content: space-between;
}

.catalog-card__price {
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
}
