.form {
	box-sizing: border-box;
	margin: 0;
	padding: 20px 0 43px;


	@media #{$not-mobile} {
		display: flex;
		flex-direction: column;
		padding-bottom: 0;
	}
}

.form__fieldsets-wrapper {
	font-size: 16px;
	line-height: 24px;

	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 35px;
		margin-bottom: 10px;
	}

	@media #{$desktop-only} {
		padding-left: 30px;
	}


	@media #{$desktop-only} {
		display: flex;
		flex-direction: column;
		padding-bottom: 0;
	}
}

.form__fieldset {
	border: none;
	margin: 0;
	padding: 22px 0 24px;
}

.form__item {
	margin-bottom: 21px;

	&:last-child {
		margin-bottom: 0;
	}
}

.form__range-input-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form__range-min,
.form__range-max {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	width: 44%;
	display: block;
	box-sizing: border-box;
	border: 2px solid var(--focus-color);
	border-radius: 4px;
	text-align: center;
	padding: 7px 10px;
	color: var(--text-color);
	appearance: textfield;


	&::placeholder {
		color: var(--disabled-color);
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
	}

	&:hover,
	&:focus {
		border: 2px solid var(--active-color);
	}

	&:disabled {
		border: 2px solid var(--disabled-color);
	}
}

.form__range-min::-webkit-outer-spin-button,
.form__range-min::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}


.form__range-max::-webkit-outer-spin-button,
.form__range-max::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.form__range-input-dash {
	&::before {
		content: "";
		display: block;
		width: 9px;
		height: 2px;
		background-color: var(--disabled-color);
	}
}

.form__buttons {
	display: flex;
	flex-direction: column;
	gap: 24.5px;
	padding: 0 60px;

	@media #{$not-mobile} {
		flex-direction: row;
		justify-content: center;
		gap: 29.5px;
	}

	@media #{$desktop-only} {
		padding: 0;
	}
}
