.image-content {
	display: block;
	object-fit: contain;

	&--cover {
		object-fit: cover;
	}

	@media #{$not-mobile} {
		width: 476px;
		height: 476px;
	}


	@media #{$desktop-only} {
		width: 600px;
		height: 600px;
	}
}
