.main-header {
	display: flex;
	align-items: center;
	position: relative;

	@media #{$not-mobile} {
		justify-content: space-between;
		padding-left: 20px;
	}

	@media #{$desktop-only} {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.main-header__logo-container {
	margin-right: auto;
	display: flex;
	align-items: center;

	@media #{$not-mobile} {
		margin-right: 0;
	}
}

.main-header__logo {
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		object-fit: cover;
		height: 36px;

		@media #{$not-mobile} {
			min-width: 82px;
		}

		@media #{$desktop-only} {
			min-width: 170px;
		}
	}
}

.main-header__description {
	display: none;

	@media #{$desktop-only} {
		display: block;
		margin-left: 20px;
		font-size: 12px;
		line-height: 1.33;
	}
}

.main-header__toggle {
	width: 60px;
	height: 60px;
	border: none;
	display: block;
	background-color: var(--base-color);
	cursor: pointer;
	transition: all 200ms ease-in;
	margin: 0;
	padding: 0;
	margin-right: -20px;

	&:hover {
		background: var(--accent-color);
	}


	@media #{$not-mobile} {
		display: none;
	}
}

.main-header--menu_closed .main-header__nav {
	@media #{$mobile-only} {
		display: none;
	}
}

.main-header__nav {
	@media #{$not-mobile} {
		display: block;
	}
}

.main-header--menu_closed .main-header__toggle::before {
	content: "";
	background: url("../../icons/stack.svg#open-menu");
	background-repeat: no-repeat;
	background-position: center;
	width: 60px;
	height: 60px;
	display: block;
	justify-self: flex-end;
	transition: all 200ms ease-in;

	&:hover {
		background: var(--accent-color);
	}


	@media #{$not-mobile} {
		display: none;
	}
}

.main-header--menu_opened .main-header__toggle::before {
	content: "";
	background: url("../../icons/stack.svg#close");
	background-repeat: no-repeat;
	background-position: center;
	width: 60px;
	height: 60px;
	display: block;
	justify-self: flex-end;
	transition: all 200ms ease-in;

	@media #{$not-mobile} {
		display: none;
	}
}

.main-header--menu_opened .main-header__nav {
	@media #{$mobile-only} {
		position: absolute;
		left: -20px;
		right: -20px;
		top: 100%;
		z-index: 2;
	}
}

.main-header--nojs .nav {
	position: static;
}
