.page {
	height: 100%;
	font-family: var(--main-font);
	font-size: 14px;
	line-height: 20px;
	color: var(--text-color);
	min-width: 280px;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 32px;
	}
}


.page__centerer {
	margin: 0 18px;

	@media #{$not-mobile} {
		margin: 0 20px;
	}

	@media #{$desktop-only} {
		max-width: 1440px;
		margin: 0 auto;
	}
}
