.swiper {
	min-width: 0;
}

.swiper .swiper-button-prev {
	width: 20px;
	height: 100%;
	top: 0;
	bottom: 0;

	&:hover {
		background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
	}

	&:active {
		background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
	}
}

.swiper .swiper-button-next {
	width: 20px;
	height: 100%;
	top: 0;
	transform: rotate(180deg);

	&:hover {
		background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
	}

	&:active {
		background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
	}
}


.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
	color: var(--accent-color);
	font-size: 23px;
	transform: translate(-10px, 28px);
	display: block;
}

.swiper .swiper-button-next::after {
	transform: translate(-10px, -28px) rotate(180deg);
}

.swiper-pagination {
	display: none;

	@media #{$desktop-only} {
		display: block;
	}
}

.swiper .swiper-pagination-bullet {
	width: 62px;
	height: 4px;
	background-color: var(--accent-color);
	transform: translateY(-50px);
}
