.user-nav__list {
	display: flex;
	list-style-type: none;
}


.user-nav__link {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;

	&--icon_user {
		--icon: url("../../icons/stack.svg#user");
		background-repeat: no-repeat;
		background-position: center;

		@media #{$mobile-only} {
			min-width: 50px;

			span {
				display: none;
			}
		}

		&::before {
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			background: #000000;
			mask: var(--icon);
		}
	}

	&--icon_basket {
		--icon: url("../../icons/stack.svg#basket");
		background-repeat: no-repeat;
		background-position: center;

		@media #{$mobile-only} {
			min-width: 50px;

			span {
				display: none;
			}
		}

		&::before {
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			background: #000000;
			mask: var(--icon);
		}
	}
}
