.user-nav__list {
	display: flex;
	list-style-type: none;
}

.user-nav__item {
	box-sizing: border-box;
}


.user-nav__link {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
	color: var(--text-color);
	padding: 20px;
	box-sizing: border-box;
	border-radius: 4px;

	&:hover {
		color: var(--accent-color);
	}

	&:active {
		background-color: var(--accent-bg);
		color: var(--accent-color);
	}

	&--icon_user {
		--icon: url("../../icons/stack.svg#user");
		background-repeat: no-repeat;
		background-position: center;

		span {
			display: none;

			@media #{$desktop-only} {
				display: block;
				margin-left: 8px;
			}
		}

		@media #{$mobile-only} {
			min-width: 50px;
		}

		@media #{$desktop-only} {
			&::before:hover {
				background: var(--accent-color);
			}
		}

		&::before {
			content: "";
			display: block;
			min-width: 16px;
			height: 16px;
			background: var(--text-color);
			mask: var(--icon);
		}

		&::before:hover {
			background: var(--accent-color);
		}
	}

	&--icon_basket {
		--icon: url("../../icons/stack.svg#basket");
		background-repeat: no-repeat;
		background-position: center;

		span {
			display: none;

			@media #{$desktop-only} {
				display: block;
				margin-left: 8px;
			}
		}

		@media #{$mobile-only} {
			min-width: 50px;
		}

		&::before {
			content: "";
			display: block;
			min-width: 16px;
			height: 16px;
			background: #000000;
			mask: var(--icon);
		}
	}
}
