<footer class="main-footer">
	<div class="main-footer__container page__centerer">
		<div class="main-footer__social-wrapper">
			<a class="main-footer__logo-link" href="#">
				<span class="visually-hidden">Drink2go</span>
				<picture>
					<source media="(min-width: 760px)" srcset="icons/stack.svg#footer-logo-tablet" type="image/svg+xml">
					<img src="icons/stack.svg#footer-logo-mobile" width="82" height="36" alt="Логотип Мишки.">
				</picture>
			</a>
			<span class="main-footer__description">Интернет-магазин кофейных напитков</span>
			<div class="main-footer__social social">
				<ul class="social__list list">
					<li class="social__item">
						<a class="social__link social__link--vkontakte" href="#">
							<span class="visually-hidden">Мы в Вконтакте</span>
						</a>
					</li>
					<li class="social__item">
						<a class="social__link social__link--pinterest" href="#">
							<span class="visually-hidden">Мы в Пинтерест</span>
						</a>
					</li>
					<li class="social__item">
						<a class="social__link social__link--class" href="#">
							<span class="visually-hidden">Мы в Однокласниках</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<nav class="main-footer__nav footer-nav">
			<h3 class="footer-nav__title title title--footer">Интернет-магазин</h3>
			<ul class="footer-nav__list list">
				<li class="footer-nav__item">
					<a class="footer-nav__link" href="#">Каталог</a>
				</li>
				<li class="footer-nav__item">
					<a class="footer-nav__link" href="#">Доставка</a>
				</li>
				<li class="footer-nav__item">
					<a class="footer-nav__link" href="#">Способы оплаты</a>
				</li>
				<li class="footer-nav__item">
					<a class="footer-nav__link" href="#">О нас</a>
				</li>
			</ul>
		</nav>
		<div class="main-footer__media media-footer">
			<h3 class="media-footer__title title title--footer">Медиа</h3>
			<ul class="media-footer__list list">
				<li class="media-footer__item">
					<a class="media-footer__link" href="#">Блог</a>
				</li>
				<li class="media-footer__item">
					<a class="media-footer__link" href="#">Информация для СМИ</a>
				</li>
				<li class="media-footer__item">
					<a class="media-footer__link" href="#">Правовая информация</a>
				</li>
			</ul>
		</div>
		<div class="main-footer__contacts contacts">
			<h3 class="contacts__title  title title--footer">Контакты</h3>
			<address class="contacts__address">Санкт-Петербург, набережная реки Карповки, дом 5</address>
			<a class="contacts__tel" href="tel:+79999999999">+7 (999) 999-99-99</a>
		</div>
		<div class="main-footer__copyright copyright">
			<a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">Разработано в HTML Academy</a>
		</div>
	</div>
</footer>
