<header class="main-header main-header--nojs page__centerer">
	<a class="main-header__logo">
		<picture>
			<source media="(min-width: 1440px)" srcset="icons/stack.svg#logo-desktop">
			<source media="(min-width:768px)" srcset="icons/stack.svg#logo-tablet">
			<img src="icons/stack.svg#logo" width="36" height="36" alt="Логотип Мишки.">
		</picture>
	</a>
	<span class="main-header__description">Интернет-магазин кофейных напитков</span>
	<nav class="main-nav main-header__nav">
		<ul class="main-nav__list site-list list">
			<li class="site-list__item">
				<a class="site-list__link" href="#">Главная</a>
			</li>
			<li class="site-list__item">
				<a class="site-list__link" href="#">Каталог</a>
			</li>
			<li class="site-list__item">
				<a class="site-list__link" href="#">Доставка</a>
			</li>
			<li class="site-list__item">
				<a class="site-list__link" href="#">О нас</a>
			</li>
		</ul>
	</nav>
	<nav class="main-header__user user-nav">
		<ul class="user-nav__list list">
			<li class="user-nav__item">
				<a class="user-nav__link user-nav__link--icon_user" href="#"><span>Войти</span></a>
			</li>
			<li class="user-nav__item">
				<a class="user-nav__link user-nav__link--icon_basket" href="#"><span>Корзина</span></a>
			</li>
		</ul>
	</nav>
	<button class="main-header__toggle" type="button">
		<span class="visually-hidden">Открыть меню</span>
	</button>
</header>
