<header class="main-header page__centerer">
	<a class="main-header__logo">
		<picture>
			<source media="(min-width: 1150px)" srcset="img/logo.svg#desktop">
			<source media="(min-width:768px)" srcset="img/logo.svg#tablet">
			<picture>
        <source media="(min-width: 1440px)" srcset="icons/stack.svg#logo-desktop">
        <source media="(min-width:768px)" srcset="icons/stack.svg#logo-tablet">
        <img src="icons/stack.svg#logo" width="36" height="36" alt="Логотип Мишки.">
      </picture>
		</picture>
	</a>
	<button class="main-header__toggle" type="button">
		<span class="visually-hidden">Открыть меню</span>
	</button>
	<span>Интернет-магазин кофейных напитков</span>
	<nav class="main-nav main-header__nav">
		<ul class="main-nav__list site-list">
			<li class="site-list__item">
				<a class="site-list__link" href="#">Главная</a>
			</li>
			<li class="site-list__item">
				<a class="site-list__link" href="#">Каталог</a>
			</li>
			<li class="site-list__item">
				<a class="site-list__link" href="#">Доставка</a>
			</li>
			<li class="site-list__item">
				<a class="site-list__link" href="#">О нас</a>
			</li>
		</ul>
	</nav>
	<nav class="main-header__user user-nav">
		<ul class="user-nav__list user-list">
			<li class="user-list__item">
				<a class="user-list__link user-list__link--icon_user" href="#">Войти</a>
			</li>
			<li class="user-list__item">
				<a class="user-list__link user-list__link--icon_basket" href="#">Корзина</a>
			</li>
		</ul>
		<button></button>
		<button></button>
	</nav>
</header>
