{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
	<main class="main-container">
		<h1 class="visually-hidden">Интернет-магазин кофейных напитков</h1>
		<section class="main-slider">
			<div class="image-slider main-slider__container">
				<h2 class="main-slider__title">Слайдер</h2>
				<div class="swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="product-card product-card--product-1">
								<div class="product-card__wrapper page__centerer">
									<div class="product-card__content">
										<h3 class="product-card__title">Декаф Флэт Уайт</h3>
										<p class="product-card__description">Свежесваренный кофе без кофеина из Эфиопии
											с натуральным фермерским молоком — то, что нужно
											для расслабления после тяжёлого рабочего дня</p>
											<span class="product-card__old-price"></span>
											<span class="product-card__price"></span>
											<button class="product-card__button button">Заказать</button>
									</div>
									<div class="product-card__image">
										{% include "./templates/picture.twig" with {name: "product1", class: "image-content", alt: "Декаф Флэт Уайт"} %}
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="product-card product-card--product-2">
								<div class="product-card__wrapper page__centerer">
									<div class="product-card__content">
										<h3 class="product-card__title">Декаф Флэт Уайт</h3>
										<p class="product-card__description">Свежесваренный кофе без кофеина из Эфиопии
											с натуральным фермерским молоком — то, что нужно
											для расслабления после тяжёлого рабочего дня</p>
											<span class="product-card__old-price"></span>
											<span class="product-card__price"></span>
											<button class="product-card__button button">Заказать</button>
									</div>
										{% include "./templates/picture.twig" with {name: "product1", class: "product-card__image image-content", alt: "Декаф Флэт Уайт"} %}
									</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="product-card product-card--product-3">
								<div class="product-card__wrapper page__centerer">
									<div class="product-card__content">
										<h3 class="product-card__title">Декаф Флэт Уайт</h3>
										<p class="product-card__description">Свежесваренный кофе без кофеина из Эфиопии
											с натуральным фермерским молоком — то, что нужно
											для расслабления после тяжёлого рабочего дня</p>
											<span class="product-card__old-price"></span>
											<span class="product-card__price"></span>
											<button class="product-card__button button">Заказать</button>
									</div>
										{% include "./templates/picture.twig" with {name: "product1", class: "product-card__image image-content", alt: "Декаф Флэт Уайт"} %}
									</div>
							</div>
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
					<div class="swiper-pagination"></div>
					<div class="swiper-scrollbar"></div>
				</div>
			</div>
		</section>
		<section class="features page__centerer">
			<h2 class="features__title title title--accent">Преимущества</h2>
			<h3 class="feature__title-list title title--level-1">Главные причины выбрать Drink2Go</h3>
			<dl class="features__list">
				<dt class="features__term title title--level-2">Скорость</dt>
				<dd class="features__description">Готовый напиток всегда под рукой — просто открой банку</dd>
				<dt class="features__term title title--level-2">Удобство</dt>
				<dd class="features__description">Легко помещается и в карман,
					и в маленькую сумочку</dd>
				<dt class="features__term title title--level-2">Бодрость</dt>
				<dd class="features__description">Сбалансированная доза кофеина даст мощный заряд энергии</dd>
				<dt class="features__term title title--level-2">Экологичность</dt>
				<dd class="features__description">Вся упаковка сделана
					из перерабатываемых материалов</dd>
			</dl>
		</section>
		<section class="catalog">
			<div class="catalog__container page__centerer">
				<h2 class="catalog__title title title--accent">Каталог</h2>
				<form class="catalog__form form" action="https://echo.htmlacademy.ru" method="post">
					<fieldset class="form__field">
						<legend class="form__title title title--form">Цена</legend>
						<input type="range" min="0" max="900" value="800" class="slider" id="myRange">
						<div>
							<input type="number">
							<input type="number">
						</div>
					</fieldset>
					<fieldset class="form__field">
						<legend class="form__title title title--form">Наличие молока</legend>
						<ul>
							<li><label for="no_matter"><input type="radio" name="milk" value="no_matter" id="no_matter">Неважно</label></li>
							<li><label for="animal"><input type="radio" name="milk" value="animal" id="animal">Только животное</label></li>
							<li><label for="vegetable"><input type="radio" name="milk" value="vegetable" id="vegetable">Только растительное</label></li>
							<li><label for="milk-free"><input type="radio" name="milk" value="milk-free" id="milk-free" disabled>Без молока</label></li>
						</ul>
					</fieldset>
					<fieldset class="form__field">
						<legend class="form__title title title--form">Страна произрастания</legend>
						<ul class="">
							<li class="">
								<label for="brasil"><input type="checkbox" id="brasil" value="brasil" checked>Бразилия</label>
							</li>
							<li class="">
								<label for="ethiopic"><input type="checkbox" id="ethiopic" value="ethiopic">Эфиопия</label>
							</li>
							<li class="">
								<label for="colombia"><input type="checkbox" id="colombia" value="colombia">Колумбия</label>
							</li>
							<li class="">
								<label for="costa-rica"><input type="checkbox" id="costa-rica" value="costa-rica">Коста-Рика</label>
							</li>
							<li class="">
								<label for="peru"><input type="checkbox" id="peru" value="peru" disabled>Перу</label>
							</li>
						</ul>
					</fieldset>
					<div class="">
						<button class="button" type="submit">Применить фильтр</button>
						<button class="button button--reset" type="reset">Сбросить фильтр</button>
					</div>
				</form>
				<div>
					<span>Сортировка:</span>
					<details>
						<summary>по умолчанию</summary>
						<ul>
							<li class="">по умолчанию</li>
							<li class="">по рейтингу</li>
							<li class="">по дате</li>
						</ul>
					</details>
				</div>
				<div class="products">
					<ul class="products__list">
						<li class="products__item">
							<div class="catalog-card">
								<h3 class="catalog-card__title">Декаф Флэт Уайт</h3>
								<img class="catalog-card__image" src="#" alt="">
								<p class="catalog-card__description">Кофе без кофеина из Эфиопии
									с натуральным фермерским молоком</p>
								<div class="order-wrapper">
									<span class="catalog-card__price">225₽</span>
									<button class="catalog-card__button button" type="button">В корзину</button>
								</div>
							</div>
						</li>
						<li class="products__item">
							<div class="catalog-card">
								<h3 class="catalog-card__title">Декаф Флэт Уайт</h3>
								<img class="catalog-card__image" src="#" alt="">
								<p class="catalog-card__description">Кофе без кофеина из Эфиопии
									с натуральным фермерским молоком</p>
								<div class="order-wrapper">
									<span class="catalog-card__price">225₽</span>
									<button class="catalog-card__button button" type="button">В корзину</button>
								</div>
							</div>
						</li>
						<li class="products__item">
							<div class="catalog-card">
								<h3 class="catalog-card__title">Декаф Флэт Уайт</h3>
								<img class="catalog-card__image" src="#" alt="">
								<p class="catalog-card__description">Кофе без кофеина из Эфиопии
									с натуральным фермерским молоком</p>
								<div class="order-wrapper">
									<span class="catalog-card__price">225₽</span>
									<button class="catalog-card__button button" type="button">В корзину</button>
								</div>
							</div>
						</li>
						<li class="products__item">
							<div class="catalog-card">
								<h3 class="catalog-card__title">Декаф Флэт Уайт</h3>
								<img class="catalog-card__image" src="#" alt="">
								<p class="catalog-card__description">Кофе без кофеина из Эфиопии
									с натуральным фермерским молоком</p>
								<div class="order-wrapper">
									<span class="catalog-card__price">225₽</span>
									<button class="catalog-card__button button" type="button">В корзину</button>
								</div>
							</div>
						</li>
						<li class="products__item">
							<div class="catalog-card">
								<h3 class="catalog-card__title">Декаф Флэт Уайт</h3>
								<img class="catalog-card__image" src="#" alt="">
								<p class="catalog-card__description">Кофе без кофеина из Эфиопии
									с натуральным фермерским молоком</p>
								<div class="order-wrapper">
									<span class="catalog-card__price">225₽</span>
									<button class="catalog-card__button button" type="button">В корзину</button>
								</div>
							</div>
						</li>
						<li class="products__item">
							<div class="catalog-card">
								<h3 class="catalog-card__title">Декаф Флэт Уайт</h3>
								<img class="catalog-card__image" src="#" alt="">
								<p class="catalog-card__description">Кофе без кофеина из Эфиопии
									с натуральным фермерским молоком</p>
								<div class="order-wrapper">
									<span class="catalog-card__price">225₽</span>
									<button class="catalog-card__button button" type="button">В корзину</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div>
					<ul class="pagination">
						<li class="pagination-item">
							<a class="pagination-link pagination-prev" href="#"></a>
						</li>
						<li class="pagination-item">
							<a class="pagination-link" href="#">1</a>
						</li>
						<li class="pagination-item">
							<a class="pagination-link pagination-current" href="#">2</a>
						</li>
						<li class="pagination-item">
							<a class="pagination-link" href="#">3</a>
						</li>
						<li class="pagination-item">
							<a class="pagination-link pagination-next" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="location">
			<h2 class="visually-hidden">Как до нас добраться</h2>
			<div class="location__map" id="map">map</div>
		</section>
	</main>
	{% endblock %}
