{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
	<h1 class="visually-hidden">Интернет-магазин кофейных напитков</h1>
	<section class="main-slider">
		<div class="image-slider main-slider__container">
			<h2 class="main-slider__title visually-hidden">Слайдер</h2>
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="product-card product-card--product-1">
							<div class="product-card__wrapper page__centerer">
								<div class="product-card__content">
									<h3 class="product-card__title">Декаф Флэт Уайт</h3>
									<p class="product-card__bait">новинка!</p>
									<p class="product-card__description">Свежесваренный кофе без кофеина из Эфиопии
										с натуральным фермерским молоком — то, что нужно
										для расслабления после тяжёлого рабочего дня
									</p>
									<div class="product-card__order-container">
										<div class="product-card__price-container">
											<del class="product-card__old-price">295₽</del>
											<span class="product-card__price">225₽</span>
										</div>
										<button class="product-card__button button">Заказать</button>
									</div>
								</div>
								<div class="product-card__image">
									{% include "./templates/picture.twig" with {name: "product1", class: "image-content", alt: "Декаф Флэт Уайт"} %}
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card product-card--product-2">
							<div class="product-card__wrapper page__centerer">
								<div class="product-card__content">
									<h3 class="product-card__title">Декаф Флэт Уайт</h3>
									<p class="product-card__bait">новинка!</p>
									<p class="product-card__description">Свежесваренный кофе без кофеина из Эфиопии
										с натуральным фермерским молоком — то, что нужно
										для расслабления после тяжёлого рабочего дня
									</p>
									<div class="product-card__order-container">
										<div class="product-card__price-container">
											<del class="product-card__old-price">295₽</del>
											<span class="product-card__price">225₽</span>
										</div>
										<button class="product-card__button button">Заказать</button>
									</div>
								</div>
								<div class="product-card__image">
									{% include "./templates/picture.twig" with {name: "product2", class: "image-content", alt: "Декаф Флэт Уайт"} %}
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card product-card--product-3">
							<div class="product-card__wrapper page__centerer">
								<div class="product-card__content">
									<h3 class="product-card__title">Декаф Флэт Уайт</h3>
									<p class="product-card__bait">новинка!</p>
									<p class="product-card__description">Свежесваренный кофе без кофеина из Эфиопии
										с натуральным фермерским молоком — то, что нужно
										для расслабления после тяжёлого рабочего дня
									</p>
									<div class="product-card__order-container">
										<div class="product-card__price-container">
											<del class="product-card__old-price">295₽</del>
											<span class="product-card__price">225₽</span>
										</div>
										<button class="product-card__button button">Заказать</button>
									</div>
								</div>
								<div class="product-card__image">
									{% include "./templates/picture.twig" with {name: "product3", class: "image-content", alt: "Декаф Флэт Уайт"} %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-pagination"></div>
				<div class="swiper-scrollbar"></div>
			</div>
		</div>
	</section>
	<section class="features page__centerer">
		<h2 class="features__title title title--accent">Преимущества</h2>
		<h3 class="features__title-list title title--level-1">Главные причины выбрать Drink2Go</h3>
		<ul class="features__list list">
			<li class="features__item features__item--speed">
				<div class="features__content">
					<h4 class="features__term title title--level-2">Скорость</h4>
					<p class="features__description">Готовый напиток всегда под рукой — просто открой банку</p>
				</div>
			</li>
			<li class="features__item features__item--comfort">
				<div class="features__content">
					<h4 class="features__term  title title--level-2">Удобство</h4>
					<p class="features__description">Легко помещается и в карман, <br>
						и в маленькую сумочку</p>
				</div>
			</li>
			<li class="features__item features__item--energy">
				<div class="features__content">
					<h4 class="features__term title title--level-2">Бодрость</h4>
					<p class="features__description">Сбалансированная доза кофеина даст мощный заряд энергии</p>
				</div>
			</li>
			<li class="features__item features__item--ecology">
				<div class="features__content">
					<h4 class="features__term title title--level-2">Экологичность</h4>
					<p class="features__description">Вся упаковка сделана<br>
						из перерабатываемых материалов</p>
				</div>
			</li>
		</ul>
	</section>
	<section class="catalog">
		<div class="catalog__container page__centerer">
			<h2 class="catalog__title title title--accent">Каталог</h2>
			<h2 class="catalog__title title title--level-1">Каталог кофейных напитков</h2>
			<form class="catalog__form form" action="https://echo.htmlacademy.ru" method="post">
				<div class="form__fieldsets-wrapper">
					<fieldset class="form__fieldset">
						<legend class="form__title title title--form">Цена</legend>
						<div class="form__range range">
							<div class="range__scale">
								<div class="range__bar" style="left: 0; width: 90%;">
									<button type="button" class="range__toggle range__toggle--min"><span
											class="visually-hidden">Переключатель.</span></button>
									<button type="button" class="range__toggle range__toggle--max"><span
											class="visually-hidden">Переключатель.</span></button>
								</div>
							</div>
						</div>
						<div class="form__range-input-wrapper">
							<input class="form__range-min" type="number" placeholder="0">
							<span class="form__range-input-dash"></span>
							<input class="form__range-max" type="number" value="900">
						</div>
					</fieldset>
					<fieldset class="form__fieldset">
						<legend class="form__title title title--form">Наличие молока</legend>
						<ul class="form__list list">
							<li class="form__item">
								<label class="form__field check check--radio" for="no_matter">
									<input class="check__control check__control--kind_checkable check__control--type_radio" type="radio" name="milk" value="no_matter" id="no_matter" checked>
									<span>Неважно</span>
								</label>
								</li>
							<li class="form__item">
								<label class="form__field check check--radio" for="animal">
									<input class="check__control check__control--kind_checkable check__control--type_radio" type="radio" name="milk" value="animal" id="animal">
									<span>Только животное</span>
								</label>
								</li>
							<li class="form__item">
								<label class="form__field check check--radio" for="vegetable">
									<input class="check__control check__control--kind_checkable check__control--type_radio" type="radio" name="milk" value="vegetable" id="vegetable">
									<span>Только растительное</span>
								</label>
							</li>
							<li class="form__item">
								<label class="form__field check check--radio" for="milk-free">
									<input class="check__control check__control--kind_checkable check__control--type_radio" type="radio" name="milk" value="milk-free" id="milk-free" disabled>
									<span>Без молока</span>
								</label>
								</li>
						</ul>
					</fieldset>
					<fieldset class="form__fieldset">
						<legend class="form__title title title--form">Страна произрастания</legend>
						<ul class="list">
							<li class="form__item">
								<label class="form__field check check--box" for="brasil">
									<input class="check__control check__control--box_checkable check__control--type_checkbox"  type="checkbox" id="brasil" value="brasil" checked>
									<span>Бразилия</span>
								</label>
							</li>
							<li class="form__item">
								<label class="form__field check check--box" for="ethiopic">
									<input class="check__control check__control--box_checkable check__control--type_checkbox" type="checkbox" id="ethiopic" value="ethiopic">
									<span>Эфиопия</span>
								</label>
							</li>
							<li class="form__item">
								<label class="form__field check check--box" for="colombia">
									<input class="check__control check__control--box_checkable check__control--type_checkbox" type="checkbox" id="colombia" value="colombia">
									<span>Колумбия</span>
								</label>
							</li>
							<li class="form__item">
								<label class="form__field check check--box" for="costa-rica">
									<input class="check__control check__control--box_checkable check__control--type_checkbox"  type="checkbox" id="costa-rica" value="costa-rica">
									<span>Коста-Рика</span>
								</label>
							</li>
							<li class="form__item">
								<label class="form__field check check--box" for="peru">
									<input class="check__control check__control--box_checkable check__control--type_checkbox" type="checkbox" id="peru" value="peru" disabled>
									<span>Перу</span>
								</label>
							</li>
						</ul>
					</fieldset>
				</div>
				<div class="form__buttons">
					<button class="button button--form" type="submit">Применить фильтр</button>
					<button class="button button--form button--reset" type="reset">Сбросить фильтр</button>
				</div>
			</form>
			<div class="catalog__sort-container">
				<span class="title title--form">Сортировка:</span>
				<details class="catalog__sort">
					<summary class="catalog__sort-title">по умолчанию</summary>
					<ul class="catalog__sort-list list">
						<li class="catalog__sort-item catalog__sort-item--current">по умолчанию</li>
						<li class="catalog__sort-item">сначала дорогие</li>
						<li class="catalog__sort-item">сначала дешёвые</li>
						<li class="catalog__sort-item">высокий рейтинг</li>
					</ul>
				</details>
			</div>
			<div class="catalog__products products">
				<ul class="products__list list">
					<li class="products__item">
						<div class="catalog-card">
							<h3 class="catalog-card__title">Декаф Флэт Уайт</h3>
							<div class="catalog-card__image ">
								{% include "./templates/picture.twig" with {name: "coffee1", class: "image-content", alt: "Декаф Флэт Уайт"} %}
							</div>
							<p class="catalog-card__description">Кофе без кофеина из Эфиопии
								с натуральным фермерским молоком</p>
							<div class="catalog-card__order-container">
								<span class="catalog-card__price">225₽</span>
								<button class="catalog-card__button button button--basket" type="button">В корзину</button>
							</div>
						</div>
					</li>
					<li class="products__item">
						<div class="catalog-card">
							<h3 class="catalog-card__title">Декаф Флэт Уайт</h3>
														<div class="catalog-card__image ">
								{% include "./templates/picture.twig" with {name: "coffee1", class: "image-content", alt: "Декаф Флэт Уайт"} %}
							</div>
							<p class="catalog-card__description">Кофе без кофеина из Эфиопии
								с натуральным фермерским молоком</p>
							<div class="catalog-card__order-container">
								<span class="catalog-card__price">225₽</span>
								<button class="catalog-card__button button button--basket" type="button">В корзину</button>
							</div>
						</div>
					</li>
					<li class="products__item">
						<div class="catalog-card">
							<h3 class="catalog-card__title">Декаф Флэт Уайт</h3>
														<div class="catalog-card__image ">
								{% include "./templates/picture.twig" with {name: "coffee1", class: "image-content", alt: "Декаф Флэт Уайт"} %}
							</div>
							<p class="catalog-card__description">Кофе без кофеина из Эфиопии
								с натуральным фермерским молоком</p>
							<div class="catalog-card__order-container">
								<span class="catalog-card__price">225₽</span>
								<button class="catalog-card__button button button--basket" type="button">В корзину</button>
							</div>
						</div>
					</li>
					<li class="products__item">
						<div class="catalog-card">
							<h3 class="catalog-card__title">Декаф Флэт Уайт</h3>
														<div class="catalog-card__image ">
								{% include "./templates/picture.twig" with {name: "coffee1", class: "image-content", alt: "Декаф Флэт Уайт"} %}
							</div>
							<p class="catalog-card__description">Кофе без кофеина из Эфиопии
								с натуральным фермерским молоком</p>
							<div class="catalog-card__order-container">
								<span class="catalog-card__price">225₽</span>
								<button class="catalog-card__button button button--basket" type="button">В корзину</button>
							</div>
						</div>
					</li>
					<li class="products__item">
						<div class="catalog-card">
							<h3 class="catalog-card__title">Декаф Флэт Уайт</h3>
														<div class="catalog-card__image ">
								{% include "./templates/picture.twig" with {name: "coffee1", class: "image-content", alt: "Декаф Флэт Уайт"} %}
							</div>
							<p class="catalog-card__description">Кофе без кофеина из Эфиопии
								с натуральным фермерским молоком</p>
							<div class="catalog-card__order-container">
								<span class="catalog-card__price">225₽</span>
								<button class="catalog-card__button button button--basket" type="button">В корзину</button>
							</div>
						</div>
					</li>
					<li class="products__item">
						<div class="catalog-card">
							<h3 class="catalog-card__title">Декаф Флэт Уайт</h3>
														<div class="catalog-card__image ">
								{% include "./templates/picture.twig" with {name: "coffee1", class: "image-content", alt: "Декаф Флэт Уайт"} %}
							</div>
							<p class="catalog-card__description">Кофе без кофеина из Эфиопии
								с натуральным фермерским молоком</p>
							<div class="catalog-card__order-container">
								<span class="catalog-card__price">225₽</span>
								<button class="catalog-card__button button button--basket" type="button">В корзину</button>
							</div>
						</div>
					</li>

				</ul>
			</div>
			<div class="catalog__pagination pagination">
				<ul class="pagination__list list">
					<li class="pagination__item">
						<a class="pagination__link pagination__link--prev" href="#"><span>Назад</span></a>
					</li>
					<li class="pagination__item">
						<a class="pagination__link" href="#">1</a>
					</li>
					<li class="pagination__item pagination__item--current">
						<a class="pagination__link" href="#">2</a>
					</li>
					<li class="pagination__item">
						<a class="pagination__link" href="#">3</a>
					</li>
					<li class="pagination__item">
						<a class="pagination__link pagination__link--next" href="#"><span>Вперёд</span></a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="location">
		<h2 class="visually-hidden">Как до нас добраться</h2>
		<div class="location__map" id="map"></div>
	</section>
</main>
{% endblock %}
